OPENAI_API_KEY="YOUR_OPENAI_API_KEY"
SQL_SERVER   = "YOUR_SQL_SERVER_NAME" # ex: "NUWANK-BP"
SQL_DATABASE = "KnowledgeBase" 
SQL_USER     = "YOUR_SQL_USER" # ex: "sa1"
SQL_PASSWORD = "YOUR_SQL_PASSWORD" # ex: "123"
SQL_DRIVER   = "ODBC Driver 17 for SQL Server" 